.really-hidden {
    display: none !important;
}

.mbbx_multisite_table {
    text-align: left;
}

.mbbx-plans-cont {
    display: table-cell;
    vertical-align: top;
}

.mbbx-plan {
    padding: 5px !important;
    min-width: 150px;
}

.mbbx-plan label {
    display: inline-block;
}

.mbbx-plans-cont.advanced .mbbx-plan {
    padding-left: 1rem !important;
}

.mbbx-plan-source {
    display: flex;
    align-items: center;
    padding: 5px;
}

.mbbx-plan-source img {
    border-radius: 100%;
    width: 40px;
}

.mbbx-plan-source p {
    margin-left: 10px;
}