/* The Modal (background) */
#mbbxProductModal {
    /* display: none; */
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    z-index: 99999999;
    place-items: center;
}

/* Modal Content/Box */
#mbbx-installments-widget {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 80%;
    z-index: 10000;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 20px;
}

/** Widget header */
.mbbx-installment-widget-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.mbbx-installment-widget-header button {
    width: 30px;
    height: 30px;
    align-content: center;
    text-align: center;
    margin-left: 10px;
}

.mbbx-method-select {
    background-color: rgba(255, 255, 255, 0);
    width: 95%;
    min-height: 40px;
    padding: 0.5rem;
    border: 1px #d8d8d8 solid;
    border-radius: 5px;

}

/** Widget Body */

#mbbxProductModalBody {
    height: 90%;
    overflow-y: scroll;
}
.mbbx-payment-method {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    background-color: rgba(185, 221, 243, 0.252);
    border-radius: 1rem;
    padding: 10px;
}

.mbbx-plan-card img {
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.mbbx-plan-table {
    border: none;
    width: 90%;
    margin: 0 auto;
}

.mbbx-plan-table tr {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mbbx-plan-table td {
    display: flex;
    flex-direction: column;
    width: 65%;
    border: none;
    padding-right: 0;
}

.mbbx-plan-table td small {
    color: gray;
}

/* The Close Button */
#closembbxProduct {
    color: #aaa;
    font-size: 28px;
    font-weight: 500;
}

#closembbxProduct:hover,
#closembbxProduct:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Scrollbar */
#mbbxProductModalBody::-webkit-scrollbar {
    width: 20px;
}

#mbbxProductModalBody::-webkit-scrollbar-track {
    background-color: transparent;
}

#mbbxProductModalBody::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#mbbxProductModalBody::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.mobbexSource {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.mobbexPaymentMethod {
    display: flex;
    align-items: center;
    padding: 1em 0;
    margin: 0;
    font-weight: bold;
}

.mobbexSourceTotal {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 5% !important;
}

.mobbexSource td small {
    display: block;
    color: gray;
}

.mobbexSource table {
    border: none;
    width: 90%;
    margin: 0 auto;
}

#mbbxProductModalBody td {
    width: 65%;
    border: none;
    padding-right: 0;
}

.mobbexPaymentMethod img {
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

#mbbx-method-select {
    width: 94%;
    min-height: 40px;
    padding: 0.5rem;
    border: 1px #d8d8d8 solid;
    border-radius: 5px;
}

/* Open Button */
#mbbxFinanceWidget {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mbbxProductBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mbbxProductBtn img {
    width: 15%;
    margin-right: 10px;
    border-radius: 50px;
}

/* DARK MODE  */
.dark #mbbx-installments-widget,
.dark #mbbx-installments-widget select,
.dark #mbbx-installments-widget table td {
    background-color: rgb(39, 31, 36);
    color: rgb(226, 226, 226);
}