.really-hidden {
    display: none !important;
}

.mbbx_plans_cont {
    display: flex;
    flex-flow: wrap;
}

.mbbx_plan_list {
    padding: 0 25px;
}

.mbbx_plan_list:nth-child(even) {
    border-left: 1px solid #eee;
}

.mbbx_plan_source {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.mbbx_plan_source img {
    border-radius: 100%;
    width: 40px;
}

@media only screen and (max-width:640px) {
    .mbbx_plan_list {
        width: 100%;
    }
}