/* The Modal (background) */
#mbbxProductModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999;
    place-items: center;
}

/* Modal Content/Box */
#mbbxProductModalContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 650px; /* Could be more or less, depending on screen size */
    height: 90%; /* Full height */
    width: 100%;
    z-index: 10000;
    overflow-y: scroll;
    border-radius: 10px;
}

#mbbxProductModalHeader {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
}

/* The Close Button */
#closembbxProduct {
    color: #aaa;
    font-size: 28px;
    font-weight: 500;
}

#closembbxProduct:hover,
#closembbxProduct:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
 
#mbbxProductBtn{
    padding: 20px;
    margin-top: 5%;
}

/* Modal Scrollbar */
#mbbxProductModalContent::-webkit-scrollbar {
    width: 20px;
}

#mbbxProductModalContent::-webkit-scrollbar-track {
    background-color: transparent;
}

#mbbxProductModalContent::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#mbbxProductModalContent::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.mobbexPaymentMethod {
    display: flex;
    align-items: center;
    padding: 1em;
    margin: 0;
    font-weight: bold;
}

#mbbxProductModalBody td {
    width: 65%;
}

.mobbexPaymentMethod img {
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}